<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Login</h1>
    <a href="/register">Don't have an account</a>
    <form action="/api/login">
        <input type="email" name="email" id="email"  placeholder="Email"/>
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</body>
</html>